<?xml version="1.0"?>

<configuration>
    <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="Redirect from Azure Websites" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^seattlegames.azurewebsites\.net$" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="http://www.seattlegam.es/{R:1}" />
        </rule>
        <rule name="Redirect to WWW" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^seattlegam\.es$" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="http://www.seattlegam.es/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
