---
title: Get Involved
description: The Seattle Games Co-op is awesome - help make it better!
author: Alex Schearer
---

<section class="small-12 columns">
    <div class="row">
        <div class="medium-6 columns">
            <h1>
                Help the Seattle Games Co-op be even better
            </h1>
        </div>
        <div class="medium-6 columns">
            <img src="assets/images/pages/feedback/action1.jpg" alt="Seattle Games Co-op" />
        </div>
    </div>
    <h3 class="subheader">
        The Seattle Games Co-op is an entirely community driven effort. We want
        your help making it even better! Whether it's feedback you'd like to
        share or an event you'd like to host, we want to hear from you.
    </h3>
    <hr />
    <h3>Our principles</h3>
    <div class="row">
        <div class="medium-4 columns">
            <img src="assets/images/pages/feedback/action2.jpg" alt="Seattle Games Co-op" />
        </div>
        <div class="medium-8 columns">
            <p>
                We're not sponsored by Microsoft, Amazon, or anyone else.  <strong>We're
                authentic &amp; community driven</strong>. Everything we do should be to
                support our members and their efforts to create amazing games.
            </p>
            <p>
                We're all about making games. There are plenty of groups which focus on
                networking, education, or whatever else. The Seattle Games Co-op isn't
                about those things. <strong>It's about making games and celebrating
                creativity!</strong>
            </p>
            <p>
                Our members come from all over Seattle and with every level of
                experience. Whether you're making your first game or finishing your
                fifth, <strong>we're always excited to work with fellow game
                makers.</strong>
            </p>
        </div>
    </div>
    <h3>Get involved</h3>
    <div class="row">
        <div class="medium-8 columns">
            <p>
                <strong>Host an event</strong> We're always looking for volunteers
                interested in hosting events &ndash; existing ones or new ones! Event
                hosts are responsible for finding a space and ensuring that someone
                can run the meeting.
            </p>
            <p>
                <strong>Provide meeting space</strong> Finding space for our events
                is one of the Seattle Games Co-op's biggest challenges. If you know
                of a space where we could host an event let us know!
            </p>
            <p>
                <strong>Share your feedback</strong> Too busy to commit to being a host
                but have a great idea for a meeting? Or perhaps you just want to get
                something off your chest? Either way we want to hear what you have to
                say.
            </p>
        </div>
        <div class="medium-4 columns">
            <img src="assets/images/pages/feedback/action3.jpg" alt="Seattle Games Co-op" />
        </div>
    </div>
    <hr />
    <h3>Get in touch</h3>
    <ul id="contact-info">
        <li>
            <i class="fi-mail"></i> Send an <a href="mailto:aschearer@spottedzebra.us">e-mail</a>
        </li>
        <li>
            <i class="fi-social-facebook"></i> Leave a <a href="http://facebook.com/SeattleGames">Facebook
            message</a>
        </li>
        <li>
            <i class="fi-calendar"></i> Contact us on <a href="http://meetup.com/SeattleGames">Meetup</a>
        </li>
    </ul>
</section>
