---
title: Seattle Games Co-op
description: Get together and make games! Join the Seattle Games Co-op, roll up your sleeves, and join us as we spread fun and happiness to the unsuspecting public.
author: Alex Schearer
---

<section class="small-12 columns">
    <div class="row">
        <div class="medium-6 columns">
            <img id="logo" src="assets/images/logo.png" alt="Seattle Games Co-op" />
        </div>
        <div class="medium-6 columns">
            <h1>
                Seattle's #1 meetup for game makers
            </h1>
        </div>
    </div>
    <h3 class="subheader">
        We meet regularly to make games, share feedback, and discuss the latest
        news in the industry.  Are you an experienced game developer or just
        someone interested in making games? Then join us and start the journey
        to making your next game.
    </h3>
    <hr />
    <ul class="small-block-grid-2 medium-block-grid-4">
        <li>
            <img src="assets/images/pages/home/action1.jpg" alt="Designing the next big thing at the Game Design Workshop" />
        </li>
        <li>
            <img src="assets/images/pages/home/action2.jpg" alt="Showing off the goods at the Game Design Workshop" />
        </li>
        <li>
            <img src="assets/images/pages/home/action3.jpg" alt="Making progress on our games at the Indie Support Group" />
        </li>
        <li>
            <img src="assets/images/pages/home/action4.jpg" alt="Getting some feedback from other developers at the Indie Support Group" />
        </li>
    </ul>
    <h3>
        What to expect from the Seattle Games Co-op
    </h3>
    <ul class="small-block-grid-1 medium-block-grid-2">
        <li>
            <strong>Meet &amp; Drink</strong> happens on the second Tuesday of
            each month.  Join us for some drinks and discuss what you're working
            on.
        </li>
        <li>
            <strong>Game Design Workshop</strong> is held on the first Sunday of
            each month and is your chance to get down and design a game with
            your peers.
        </li>
        <li>
            <strong>Critique Cricle</strong> every third Wednesday of the month.
            Bring your work-in-progress and get focused feedback from other game
            makers.
        </li>
        <li>
            <strong>Indie Support Group</strong> meets every Saturday. Bring
            your laptop and get stuff done surrounded by other game makers.
        </li>
    </ul>
    <p>
        Be sure to check out our <a href="events.html">events page</a> for the
        Seattle Games Co-op's complete schedule.
    </p>
</section>
